/node_modules
/public/hot
/public/storage
/public/images/qrcodes/*.svg
/storage/*.key
/vendor
/database/data/Cities.json
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
app/Http/Middleware/ApiTokenMiddleware.php
app/Models/UserEntities/ApiToken.php
database/migrations/2022_11_18_192152_create_api_tokens_table.php
